body{
    background-color: darkgrey;
}

#grid {
  display: grid;
  grid-template-columns: repeat(15, max-content);
  place-content: center;
 gap: 0.7em;
}

.cell {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color:green ;
  height: 30px;
  aspect-ratio: 1 /1;
}

.controls{
  margin-bottom: 50px;
}

.center {
  text-align: center;
}

.start{
    text-align: center;
    margin-top: 20px;
}

.cell.player {
  background-color: blue;
}

.cell.goal {
  background-color: red;
}
